@import "tailwindcss";
@plugin "daisyui" {
  themes: nord --default;
}

@plugin "daisyui/theme" {
  name: "nord";
  default: true;
  --color-primary: var(--color-rose-500);
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: normal;
}

@theme {
  --font-outfit: "Outfit";
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility flex-start {
  @apply flex justify-start items-center;
}
